<div class="mx-auto md:max-w-md pt-16">
  <h1 class="mb-5 font-light text-center text-pink-dark">Customer Search Demo</h1>
  <CustomerSearch @placeholder="Assign customer" data-test-customer-search/>
</div>
{{outlet}}
